html, body
	height: 100%

body
	overflow-y: scroll
	font-family: $opensans
	font-size: 14px
	color: $text_color
	background: $bg_color

a
	outline: none
	color: inherit
	text-decoration: none

.wrapper
	height: calc(100vh - 63px)
	padding-bottom: 63px
	max-width: $site_width
	margin: 0 auto
	background-image: url(../img/bg_body.jpg)