// fonts
$opensans: 'opensans', sans-serif
$opensansBold: 'opensansBold' sans-serif
$opensansLight: 'opensansLight', sans-serif
$opensansSemibold: 'opensansSemibold', sans-serif

// color
$bg_color: #fbfcfd
$bg_header: #737171
$text_color: #4a545d

// size
$site_width: 1400px
$content_width: 960px