<nav class="menu">
	<ul>
		<li class="menu__item active"><a href="{{ config.base_url }}" class="menu__link">
				Обо мне
			</a></li>
		<li class="menu__item"><a href="{{ config.base_url }}portfolio" class="menu__link">
				Мои Работы
			</a></li>
		<li class="menu__item"><a href="{{ config.base_url }}contacts" class="menu__link">
				Обратная связь
			</a></li>
	</ul>
</nav><!-- end .menu -->