<aside class="aside">
	<nav>
		<ul class="menu">
			<li class="menu__item active"><a href="#" class="menu__link">
				Обо мне
			</a></li>
			<li class="menu__item"><a href="#" class="menu__link">
				Мои Работы
			</a></li>
			<li class="menu__item"><a href="#" class="menu__link">
				Обратная связь
			</a></li>
		</ul><!-- end .menu -->
	</nav>

	<ul class="contacts">
		<li class="contacts__item"></li>
		<li class="contacts__item"><a href="mailto:pochta@mail.ru" class="contacts__link">
			pochta@mail.ru
		</a></li>
		<li class="contacts__item"><a href="tel:+79812342323" class="contacts__link">
			+7(981)234-2323
		</a></li>
		<li class="contacts__item"><a href="skype:nickname?call" class="contacts__link">
			nickname
		</a></li>
	</ul>
</aside>