<aside class="aside">
	<nav>
		<ul class="menu">
			<li class="menu__item active"><a href="#" class="menu__link">
				Обо мне
			</a></li>
			<li class="menu__item"><a href="#" class="menu__link">
				Мои Работы
			</a></li>
			<li class="menu__item"><a href="#" class="menu__link">
				Обратная связь
			</a></li>
		</ul><!-- end .menu -->
	</nav>

	<ul class="contacts">
		<li class="contacts__item contacts__item-head">
			Контакты
		</li>
		<li class="contacts__item"><a href="mailto:pochta@mail.ru" class="contacts__link">
			<img src="img/email-icon.png" alt="email" class="contacts__img">
			pochta@mail.ru
		</a></li>
		<li class="contacts__item"><a href="tel:+79812342323" class="contacts__link">
			<img src="img/phone-icon.png" alt="phone" class="contacts__img">
			+7(981)234-2323
		</a></li>
		<li class="contacts__item"><a href="skype:nickname?call" class="contacts__link">
			<img src="img/skype-icon.png" alt="skype" class="contacts__img">
			nickname
		</a></li>
	</ul>
</aside>