<section class="contacts">
		<h2 class="section-title">
			У вас интересный проект? Напишите мне
		</h2>
		<form action="#" class="contactsForm">
			<div class="alertErrorAdd">
				<span class="alertErrorAdd__close"></span>
				<h4 class="alertErrorAdd__title">Ошибка!</h4>
				<p class="alertErrorAdd__text">Невозможно отправить письмо.</p>
			</div><!-- end .alertErrorAdd -->

			<div class="contactsForm__row">
				<div class="contactsForm__item">
					<p class="contactsForm__label">Имя</p>
					<input type="text"
						name="name"
						class="contactsForm__input"
						placeholder="Как к Вам обращаться"
						qtip-text="введите имя"
					>
				</div><!-- end .contactsForm__item -->
				<div class="contactsForm__item">
					<p class="contactsForm__label">Email</p>
					<input type="email"
						name="email"
						class="contactsForm__input"
						placeholder="Куда мне писать"
						qtip-text="введите email"
						qtip-position="right"
					>
				</div><!-- end .contactsForm__item -->
			</div><!-- end .contactsForm__row -->

			<div class="contactsForm__item">
				<p class="contactsForm__label">Сообщение</p>
				<textarea type="text"
					name="message" 
					class="contactsForm__input contactsForm__input--textarea"
					placeholder="Кратко в чем суть"
					qtip-text="ваш вопрос"
				></textarea>
			</div><!-- end .contactsForm__item -->

			<div class="contactsForm__row">
				<div class="contactsForm__captcha"></div>
				<div class="contactsForm__item">
					<input type="text"
						name="captcha"
						class="contactsForm__input"
						placeholder="Введите код"
						qtip-text="код капчи"
						qtip-position="right"
					>
				</div><!-- end .contactsForm__item -->
			</div><!-- end .contactsForm__row -->

			<div class="contactsForm__row contactsForm__row--btn">
				<button class="btn btn--green" type="submit">Отправить</button>
				<button class="btn" type="reset">Очистить</button>
			</div><!-- end .contactsForm__row -->
		</form>
</section><!-- end .contacts -->