<section class="education">
	<h2 class="section-title">
		Образование
	</h2>
	<div class="education__block">
		<div class="section__row education__row--school">
			<div class="section__text">
				<p class="section__title">
					Полное среднее. Физико-математический лицей № 30
				</p>
				<p class="section__subscribe">
					1994 - 2004
				</p>
			</div>
		</div><!-- end .section__row -->

		<div class="section__row education__row--graduate">
			<div class="section__text">
				<p class="section__title">
					Незаконченное высшее. СПБГУ ИТМО
				</p>
				<p class="section__subscribe">
					Октябрь 2012 - по настоящее время
				</p>
			</div>
		</div><!-- end .section__row -->

		<div class="section__row education__row--file">
			<div class="section__text">
				<p class="section__title">
					Курсы Loftschool.ru
				</p>
				<p class="section__subscribe">
					Ноябрь 2014 - по настоящее время
				</p>
			</div>
		</div><!-- end .section__row -->
	</div><!-- end .education__block -->
</section><!-- end .education -->