<header class="header">
	<div class="header__content">
		<div class="logo">
			<a href="#">
				<img src="img/logo.png" alt="logo">
			</a>
		</div>
		<ul class="social">
			<li class="social__item">
				<a href="#" class="social__link social__link--fb_icon"></a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link social__link--vk_icon"></a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link social__link--tw_icon"></a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link social__link--git_icon"></a>
			</li>
		</ul>
		<div class="hamburger"></div>
	</div><!-- end .header__content -->
</header>