<section class="info">
	<h2 class="section-title">
		Основная информация
	</h2>
	<div class="info-block">
		<div class="info-block__logo">
			<img src="img/avatar.jpg" alt="avatar">
		</div><!-- end .info-block__logo -->
		<div class="info-block__text">
			<div class="info-block__row">
				<p class="info-block__head">Меня&nbsp;зовут:</p>
				<p class="info-block__subscription">Иванов Андрей Степанович</p>
			</div>

			<div class="info-block__row">
				<p class="info-block__head">Мой&nbsp;возраст:</p>
				<p class="info-block__subscription">25 лет</p>
			</div>

			<div class="info-block__row">
				<p class="info-block__head">Мой&nbsp;город:</p>
				<p class="info-block__subscription">Санкт-Петербург, Россия</p>
			</div>

			<div class="info-block__row">
				<p class="info-block__head">Моя&nbsp;специализация:</p>
				<p class="info-block__subscription">FRONTEND разработчик</p>
			</div>

			<div class="info-block__row">
				<p class="info-block__head">Ключевые&nbsp;навыки:</p>
				<div class="info-block__subscription">
					<div class="info-block__skill skill">HTML</div>
					<div class="info-block__skill skill">CSS</div>
					<div class="info-block__skill skill">JAVASCRIPT</div>
					<div class="info-block__skill skill">GIT</div>
					<div class="info-block__skill skill">GULP</div>
					<div class="info-block__skill skill">PHP</div>
					<div class="info-block__skill skill">REACT</div>
					<div class="info-block__skill skill">JQUERY</div>
				</div>
			</div>
		</div><!-- end .info-block__text -->
	</div><!-- end .info-block -->
</section><!-- end .info -->