<form action="#" class="loginForm">
	<input type="email" name="email" autofocus
		class="loginForm__input loginForm__input--email"
		placeholder="Введите Email"
		qtip-text="введите email"
		qtip-position="right"
	>
	<input type="password" name="pass"
		class="loginForm__input loginForm__input--key"
		placeholder="Введите пароль"
		qtip-text="введите пароль"
		qtip-position="right"
	>

	<div class="inputCheckbox">
		<input type="checkbox" name="remember"
			id="check"
			class="inputCheckbox__input"
		>
		<label for="check" class="inputCheckbox__checkbox"></label>
		<span class="inputCheckbox__span">Запомнить меня?</span>
	</div><!-- end .inputCheckbox -->

	<button type="submit" class="btn btn--green">Войти</button>
</form>