<section class="projects">
	<h2 class="section-title">
		Основная информация
	</h2>
	<div class="projects__block">
		<div class="projects-item">
			<div class="projects-item__img">
				<img src="img/projects/site-1.jpg" alt="site">
				<div class="projects-item__overlay">
					<a href="http://a-industry.ru" target="_blank" class="projects-item__overlay-link">open</a>
				</div>
			</div>
			<div class="projects-item__title">
				a-industry.ru
			</div>
			<p class="projects-item__subscribtion">
				Корпоративный и в тоже время продающий сайт строительной компании a-industry.
			</p>
		</div><!-- end .projects-item__item -->

		<div class="projects-item">
			<div class="projects-item__img">
				<img src="img/projects/site-2.jpg" alt="site">
				<div class="projects-item__overlay">
					<a href="http://домгазобетон.рф" target="_blank" class="projects-item__overlay-link">open</a>
				</div>
			</div>
			<div class="projects-item__title">
				домгазобетон.рф
			</div>
			<p class="projects-item__subscribtion">
				Продающая страница для компании ledenland.
			</p>
		</div><!-- end .projects-item__item -->

		<div class="projects-item">
			<div class="projects-item__img">
				<img src="img/projects/site-3.jpg" alt="site">
				<div class="projects-item__overlay">
					<a href="http://crmconsulting.biz" target="_blank" class="projects-item__overlay-link">open</a>
				</div>
			</div>
			<div class="projects-item__title">
				crmconsulting.biz
			</div>
			<p class="projects-item__subscribtion">
				Лендинг компании «СRM Consulting» специализирующейся на точной настройке Битрикс24 под бизнес.
			</p>
		</div><!-- end .projects-item__item -->

		<div class="projects-item">
			<div class="projects-item__img">
				<img src="img/projects/site-4.jpg" alt="site">
				<div class="projects-item__overlay">
					<a href="http://landingsloft.ru" target="_blank" class="projects-item__overlay-link">open</a>
				</div>
			</div>
			<div class="projects-item__title">
				landingsloft.ru
			</div>
			<p class="projects-item__subscribtion">
				Сайт по услугам разработки продающих лендингов.
			</p>
		</div><!-- end .projects-item__item -->

		<div class="projects-item">
			<div class="projects-item__img">
				<img src="img/projects/site-5.jpg" alt="site">
				<div class="projects-item__overlay">
					<a href="http://yasnow.biz" target="_blank" class="projects-item__overlay-link">open</a>
				</div>
			</div>
			<div class="projects-item__title">
				yasnow.biz
			</div>
			<p class="projects-item__subscribtion">
				Landing page по продажи франшизы снежного бизнеса.
			</p>
		</div><!-- end .projects-item__item -->
			
		<div class="projects-item projects-add">
			<a href="#" class="projects-add__link">
				<div class="projects-add__icon"></div>
				Добавить проект
			</a>
		</div><!-- end .projects-item -->
	</div><!-- end .projects__block -->
</section><!-- end .projects -->