<section class="works">
	<h2 class="section-title">
		Опыт работы 
	</h2>
	<div class="works__block">
		<div class="section__row works__row--briefcase">
			<div class="section__text">
				<p class="section__title">
					"ИП Боровицкий" - Продавец дисков
				</p>
				<p class="section__subscribe">
					Сентябрь 2005 - Август 2008
				</p>
			</div>
		</div><!-- end .section__row -->

		<div class="section__row  works__row--briefcase">
			<div class="section__text">
				<p class="section__title">
					"ООО Системы безопастности" - Системный администратор
				</p>
				<p class="section__subscribe">
					Июнь 2008 - Июль 2010
				</p>
			</div>
		</div><!-- end .section__row -->

		<div class="section__row  works__row--briefcase">
			<div class="section__text">
				<p class="section__title">
					"Магнит, Розничная сеть" - Ведущий аналитик по внедрению Oracle
				</p>
				<p class="section__subscribe">
					Август 2011 - Октябрь 2012
				</p>
			</div>
		</div><!-- end .section__row -->
	</div><!-- end .works__block -->
</section><!-- end .works -->