<!DOCTYPE html>
<html lang="ru">
{% include '_parts/head.twig' %}
<body>
<div class="wrapper">
	<div class="wrapper__block">
		{% include '_parts/header.twig' %}
		<div class="content">
			<aside class="aside">
				{% include '_parts/menu.twig' %}
				{% include '_parts/contacts.twig' %}
			</aside>
			<main class="main">
				{% block content %} {% endblock %}
			</main>
		</div><!-- end .content -->
	</div><!-- end .wrapper__block -->
</div><!-- end .wrapper -->
{% include '_parts/footer.twig' %}
{% include '_parts/scripts.twig' %}
</body>
</html>